<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Just a few companies we are helped</h2>
                <p>Will you be the next?</p>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <center>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.bhinneka.com/images/others/identity-guidelines-bhinneka-com.png?d=201701061515" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Bhinneka
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Tokopedia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="#" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
           
            
        </div>
    </div>
    </center>
</section>
